body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
.image-container {
  position: relative; /* Set a max-width for responsiveness */
  margin: auto;
}
.image-container img {
  display: block; /* Remove default image spacing */
}

.h3 {
  position: absolute;
  top: 0;
  color: white;
  margin-left: 30px;
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
  margin-top: 50px;
}
.h4 {
  position: absolute;
  top: 0;
  color: white;
  margin-left: 65px;
  margin-top: 83px;
  font-size: 5px;
  letter-spacing: 0.6dvh;
  font-family: sans-serif;
}
.the {
  position: absolute;
  top: 0;
  color: white;
  margin-left: 60px;
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
  margin-top: 35px;
}
.links {
  display: flex;
  text-align: center;
  gap: 30px;
  top: 0;
  position: absolute;
  margin-top: 60px;
  margin-left: 600px;
}
.links a {
  color: white;
  text-decoration: none;
}
.h1 {
  position: absolute;
  top: 0;
  width: 300px;
  transform: translate(50%, 45%);
  font-family: sans-serif;
}

.h1 h1 {
  font-size: 50px;
  color: white;
}
.h1 h4 {
  font-size: 10px;
  color: rgb(135, 133, 133);
  margin-left: 4px;
  top: 0;
}
.h1 a {
  color: black;
  text-decoration: none;
  background-color: yellow;
  padding: 10px;
  line-height: 3.5;
  margin-left: 4px;
  border-radius: 20px;
}
.Book_Seat {
  background-color: yellow;
  color: black;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  top: 0;
  position: absolute;
  margin-left: 990px;
  margin-top: 50px;
}
.About_us {
  margin-left: 477px;
  font-size: 19px;
  margin-top: 190px;
}
.About_us h1 {
  width: 380px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}
.About_us .p1 {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
}
.made {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.669);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 290px;
}
.made-1 {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.713);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 290px;
}
.p2 {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.713);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 290px;
  margin-left: 780px;
  top: 0;
  position: absolute;
  margin-top: 1002px;
}
.yasmine {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 252, 252);
  margin-left: 90px;
  margin-top: 30px;
}
.job {
  color: rgb(169, 169, 88);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  top: 0;
  position: absolute;
  margin-top: 1110px;
  margin-left: 92px;
}
.image_yasmine {
  top: 0;
  position: absolute;
  margin-top: 1080px;
  border-radius: 100%;
}
.image_location {
  top: 0;
  position: absolute;
  margin-top: 779px;
  margin-left: 100px;
}
#features {
  font-size: 10px;
  color: rgb(170, 167, 167);
  margin-left: 530px;
  margin-top: 200px;
  letter-spacing: 0.4dvh;
}
#core {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  margin-left: 440px;
  margin-bottom: 70px;
}
.shop {
  top: 0;
  position: absolute;
  margin-left: 391px;
  margin-top: 55px;
  padding: 10px;
  border: 1px solid rgb(196, 193, 193);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.choices {
  top: 0;
  position: absolute;
  margin-left: 430px;
  margin-top: 55px;
  padding: 10px;
  border: 1px solid rgb(196, 193, 193);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.experience {
  top: 0;
  position: absolute;
  margin-left: 880px;
  margin-top: 830px;
}
.signature {
  top: 0;
  position: absolute;
}
#image1 {
  top: 0;
  position: absolute;
  margin-left: 780px;
  margin-top: 1055px;
}

.last {
  display: flex;
  gap: 20px;
  margin-left: 100px;
  font-family: sans-serif;
}
.last p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.713);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 250px;
  margin-top: 50px;
  margin-left: 18px;
  margin-right: 10px;
  margin-bottom: 45px;
}

.last a {
  margin-left: 90px;
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}
footer {
  color: rgb(98, 98, 98);
  margin-top: 80px;
  font-family: sans-serif;
  font-size: 12px;
}
.last-1 {
  border: 1px solid rgb(207, 206, 193);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 3px rgb(35, 35, 35);
}
.last-2 {
  border: 1px solid rgb(207, 206, 193);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 3px rgb(35, 35, 35);
}
.last-3 {
  border: 1px solid rgb(207, 206, 193);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 3px rgb(35, 35, 35);
}

.last h2 {
  margin-left: 60px;
  font-size: 20px;
}
.horlogue {
  stroke: rgb(250, 177, 43);
  margin-left: 94px;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}
.phone {
  stroke: rgb(250, 177, 43);
  margin-left: 94px;
  margin-bottom: 10px;
}
.icone1 {
  margin-left: 94px;
  margin-bottom: 10px;
}
